@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.font-stroke {
		color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
	}

	.content {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.bg-speakers {
		background-image: url(../../public/images/1.jpg);
	}

	.bg-schedules {
		background-image: url(../../public/images/2.png);
	}

	.bg-sponsors {
		background-image: url(../../public/images/3.png);
	}

	.bg-stats {
		background-image: url(../../public/images/9.jpg);
	}

	.bg-welcome {
		background-image: url(../../public/images/4.png);
	}

	.bg-ticket {
		background-image: url(../../public/images/5.jpg);
	}
}
